body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  /* font-family: verdana, sans-serif; /* When specifying particular fonts, ref the font name, then the family. */ */

}

h1 {
  font-size: 5.625rem;
   /*16 px is the default size for %100 regular.
   change text to '%' to keep the size scale to size.
    - 1 em = 16px = 100%
    - using '%' and 'em' == Dynamic scaling.
    - rem = Root em = ignore all PARENT configs and stick to 16 px * measurement choosen. */
  margin: 50px auto 0 auto;
  font-family: 'Press Start 2P', cursive;
  color: #66BFBF;
  line-height: 2 /* Line-height requires just numbers */
  /* margin: 0, auto, 0, auto;  <!--SOME REASON NOT WORKING--> */
  /* margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto; */
}

h2 {
  font-size: 2.5 rem;
  font-family: sans-serif;
  color: #66BFBF;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  font-family: sans-serif;
  color: #11999E;
}

p {
  line-height: 2;
}

hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 60px auto;
}
/* div {
  background-color: #35858B;
} */

a {
 color: #11999E;
 font-family: sans-serif;
 margin: 10px 20px;
 text-decoration: none;
}

a:hover { /* Psuedocode*/
  color: #EAF6F6;
}

.top-container {
  background-color: #35858B;
  position: relative; /* PARENT to: 'top-cloud', 'bottom-cloud'  */
  padding-top: 70px;
}

.middle-container {
  margin: 80px 0;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.top-cloud {
 position: absolute; /*child to 'top-container' */
 right: 250px;  /* starts from right border of 'top-container', go left 300px   */
 top: 40px; /* starts from top border of 'top-container', go down 50px  */
}

.bottom-cloud {
  position: absolute;   /*child to 'top-container' */
  left: 300px; /* starts from left border of 'top-container', go right 300px  */
  bottom: 300px; /* starts from bottom border of 'top-container', go up 300px  */

}

.intro {
  width: 30%;
  margin: auto;

}

.skill-row{
  width: 50%;
  margin: 70px auto 70px auto;
  text-align: left;

}

.python-img { /* *** FLOAT CONCEPT: allows text to 'wrap' around sides of pic.***
                - ONLY USE WHEN TRYING TO WRAP TEXT NEXT TO AN ELEMENT.
                - DONT BE LAZY AND USE AS A POSITIONING. ONLY USE POSITIONING PRINCIPLES AS POSITIONING!! */
  /* position: absolute;
  margin: center; */
  /* height: 160px; */
  width: 35%;
  height: 35%;
  float: left;
  margin-right: 30px;
}

.food-wars-gif{
  width: 50%;
  float: right;
  margin-left: 30px;
}

.footer-link{
  color: #11999E;
}

.contact-msg {
  width: 40%;
  margin: 40px auto 60px;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.btn{
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #3498db);
  background-image: -moz-linear-gradient(top, #11cdd4, #3498db);
  background-image: -ms-linear-gradient(top, #11cdd4, #3498db);
  background-image: -o-linear-gradient(top, #11cdd4, #3498db);
  background-image: linear-gradient(to bottom, #11cdd4, #3498db);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
